* {
  margin: 0;
  padding: 0;
  font-family: "Raleway", sans-serif;
}

:root {
  --theme-color: tomato;
}

.show,
.show > div {
  text-align: center;
}

header,
.info,
.round-info,
.controller {
  text-align: center;
  font-size: 1.5rem;
}

header {
  background-color: var(--theme-color);
  text-align: center;
  padding: 1rem 0;
}

.info {
  margin: 2.5rem 0 3rem 0;
  font-weight: 500;
}
.info p:nth-child(2) {
  font-style: italic;
}

.show > div {
  position: relative;
  border: 2px solid rgb(192, 131, 131);
  height: 8rem;
  width: 9rem;
  display: inline-block;
  margin: 0 20px;
  border-radius: 5px;
}
.show div p {
  position: absolute;
  top: -1.5rem;
}

.gameplayP,
.gameplayC {
  font-size: 7rem;
}

.round-info {
  margin-top: 1.2rem;
}

.controller p {
  margin: 3rem 0 1rem;
}

.controller button {
  width: 6rem;
  height: 6rem;
  background-color: white;
  border: 2px solid rgb(146, 127, 127);
  border-radius: 3px;
  font-size: 4rem;
  cursor: pointer;
}

.controller button:last-of-type {
  display: block;
  margin: 2rem auto;
  font-size: 1.2rem;
  width: 10rem;
  height: 2.5rem;
  background-color: var(--theme-color);
  color: rgb(0, 70, 0);
  font-weight: 500;
}

.controller button:active {
  opacity: 0.6;
}

.result-section {
  position: relative;
}
#result {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  color: var(--theme-color);
  font-weight: 700;
  font-size: 2rem;
  word-spacing: 0.5rem;
  white-space: nowrap;
}
